<section id="about_me">
  <div class="container">
		<div class="row about-me-area">
		  <div class="col-md-6 col-xs-12 about-description" [class.animated]="isDesktop" [class.slideInLeft]="isActive">
		    <h1>About me</h1>
		    <p class="introduction">Frontend developer with about 1,5 years commercial experience.
		    Still learning, increasing skills and getting better and better.</p>
		    <p>I started my adventure with programming in 2015, when I started doing online courses.</p>
		    <p>That was something that totally absorbed me. I spent every free moment on learning and creating small projects.</p>
		    <p>I decided to become a professional programmer and I pursue this goal step by step.</p>
		    <br>
		    <p>I was recently involved, inter alia, in remote project where I worked with another developer. In this project I learned how to work in a group and be more independent.</p>
		    <p>Besides, of course, I increased my technical skills (find out more in section portfolio and skills).</p>
		    <p>I also worked as a freelancer and I did things like coding coding psd to html, making changes in wordpress, layouts coding. All my jobs was remotely and I’m good at it. I have to be disciplined, I have no problem with regularity and self-denial.</p>
		  </div>
		  <div class="col-md-6 col-xs-12 about-photo">
		    <img src="assets/photo.jpg" [class.animated]="isDesktop" [class.slideInRight]="isActive" alt="Magdalena Pal Front-End Developer">
		  </div>
		</div>
	</div>
</section>








