.about-me {
	background-color: #F5F5F5;
	font-family: 'Nunito', sans-serif;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	.about-me-area {
		margin-left: 0px;
		margin-right: 0px;
		display: flex;
	  align-items: center;
		justify-content: center;
		padding-top: 30px;
		padding-bottom: 100px;
		.introduction {
			color: #6d6969;
			font-size: 1.4em;
			margin-bottom: 20px;
		}
		h1 {
		  font-weight: bold;
			margin-bottom: 20px;
			font-size: 3.8em;
		}
		.about-description {
		 text-align: justify;
		 opacity: 0;
		 &.slideInLeft {
		 	opacity: 1;
		 }
		}
		.about-photo {
			text-align: center;
			img {
				width: 250px;
				text-align: center;
				margin-top: 50px;
				opacity: 0;
				box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
				border-radius: 10px;
				&.slideInRight {
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.about-me {
		.about-me-area {
			display: block;
		}
	}
}

 






 