<section id="skills">
  <div class="container">
    <h1>Technical skills</h1>
    <div class="row item left" 
      [class.active]="isActive1" 
      trackScroll
      [trackScrollConfig]="config"
      (trackScrollEnter)="enter(1)">
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/css3.png" class="media-object" alt="css3">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">CSS3</h3>
          <p>Care about good practice and clean code.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/html5.png" class="media-object" alt="html5">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">HTML5</h3>
          <p>Care about semantic code and good practice.</p>
        </div>
      </div>
    </div>
    <div class="row item right" 
      [class.active]="isActive2" 
      trackScroll 
      [trackScrollConfig]="config"
      (trackScrollEnter)="enter(2)">
      <div class="col-md-6 col-xs-12 media"> 
        <div class="pull-left img-skills">
          <img src="../../assets/foundation.png" class="media-object" alt="foundation">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Foundation</h3>
          <p>Good knowledge of foundation 6 I used in previous work.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/bootstrap.png" class="media-object" alt="bootstrap">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Bootstrap</h3>
          <p>I know and I can use it at practice and quickly find the necessary things in the documentation.</p>
        </div>
      </div>
    </div>
    <div class="row item left"
    [class.active]="isActive3"
    trackScroll 
    [trackScrollConfig]="config"
    (trackScrollEnter)="enter(3)">
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/sass.png" class="media-object" alt="sass">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Sass</h3>
          <p>I recently discovered how much easier it is to work with css.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/rwd.png" class="media-object" alt="rwd">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">RWD</h3>
          <p>I care about the good display of the page at all resolutions.</p>
        </div>
      </div>
    </div>
    <div class="row item right"
    [class.active]="isActive4"
    trackScroll 
    [trackScrollConfig]="config"
    (trackScrollEnter)="enter(4)">
      <div class="col-md-6 col-xs-12 media">      
        <div class="pull-left img-skills">
          <img src="../../assets/js.png" class="media-object" alt="js">
        </div>
        <div class="text-skills media-body">
            <h3 class="media-heading">JavaScript</h3>
          <p>Before getting to know the frameworks I got familiar with pure javascript. It is necessary to me to know the basics.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/ts.png" class="media-object" alt="ts">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">TypeScript</h3>
          <p>For creating good code in Angular 2/4, I started learning TypeScript and trying to make friends with it.</p>
        </div>
      </div>
    </div>
    <div class="row item left"
    [class.active]="isActive5"
    trackScroll 
    [trackScrollConfig]="config"
    (trackScrollEnter)="enter(5)">
    <div class="col-md-6 col-xs-12 media">
      <div class="pull-left img-skills">
        <img src="../../assets/angular.png" class="media-object" alt="angular">
      </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Angular</h3>
          <p>In previous work I worked with AngularJS and created various functionalities. Now I'm learning Angular 2/4.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/react.png" class="media-object" alt="react">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">React</h3>
          <p>I have recently started to learn this framework and have basic knowledge about it. I have no problems with learning this for the project.</p>
        </div>
      </div>
    </div>
    <div class="row item right"
    [class.active]="isActive6"
    trackScroll 
    [trackScrollConfig]="config"
    (trackScrollEnter)="enter(6)"> 
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/jquery.png" class="media-object" alt="jquery">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">jQuery</h3>
          <p>Sometimes projects need to implement functionality in jQuery so I know how to use it.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/solidity.png" class="media-object" alt="solidity">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Solidity</h3>
          <p>I know the basics. I was learning this to create my first smart contract.</p>
        </div>
      </div>
    </div>
    <div class="row item left"
    [class.active]="isActive7"
    trackScroll 
    [trackScrollConfig]="config"
    (trackScrollEnter)="enter(7)"> 
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/django.png" class="media-object" alt="django">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Django</h3>
          <p>The previous project's backend was built on Django. I had to know the principles of building templates, sometimes I made them myself or modified them.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/python.png" class="media-object" alt="python">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Python</h3>
          <p>My previous project used python so I had to know what was going on in the project, and thanks to that I got to know the basics.</p>
        </div>
      </div>
    </div>
    <div class="row item right"
    [class.active]="isActive8"
    trackScroll 
    [trackScrollConfig]="config"
    (trackScrollEnter)="enter(8)">
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/git.png" class="media-object" alt="git">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">GIT</h3>
          <p>In previous work I worked in a team, knowledge of git was of course essential to me.</p>
        </div>
      </div>
    </div>
    <h1>Other skills</h1>
    <div class="row item left"
    [class.active]="isActive9"
    trackScroll 
    [trackScrollConfig]="config"
    (trackScrollEnter)="enter(9)">
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/search.png" class="media-object" alt="search">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Fast Search</h3>
          <p>As a programmer, it's important to be able to find information. I know well how to do it and I have patience for it.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/book.png" class="media-object" alt="book">
        </div>
        <div class="text-skills media-body">
            <h3 class="media-heading">Learn</h3>
          <p>Programming is a continuous learning. I know it and I still have passion to develop and learn new things.</p>
        </div>
      </div>
    </div>
    <div class="row item right"
    [class.active]="isActive10"
    trackScroll 
    [trackScrollConfig]="config"
    (trackScrollEnter)="enter(10)">
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/clock.png" class="media-object" alt="clock">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Punctuality</h3>
          <p>I respect my time and the time of my employers/clients, so I care about timeliness and punctuality. I appreciate when both sides care about tasks deadline.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 media">
        <div class="pull-left img-skills">
          <img src="../../assets/communication.png" class="media-object" alt="communication">
        </div>
        <div class="text-skills media-body">
          <h3 class="media-heading">Communication</h3>
          <p>Programming is a work with the computer but also personal skills are important. I can work well in a team and with a client. Two sides must be satisfied.</p>
        </div>
      </div>
    </div>
  </div>
</section>