@import '../../styles/breakpoints.scss';

 

#skills {
	background-color: #37474f;
	color: #ffffff;	
	padding: 80px;
 
  // -webkit-box-shadow: 0px -10px 5px 0px rgba(224,215,224,1);
  // -moz-box-shadow: 0px -10px 5px 0px rgb(201, 182, 201);
	// box-shadow: 0px -4px 5px 0px rgba(50, 50, 93, 0.11);
	-webkit-clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
	clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
  @media screen and (max-width: $break-medium-desktop) {
    padding-bottom: 60px;
	}

  @media screen and (max-width: $break-medium) {
    padding: 120px 0;
	}
	

	h1 {
		 padding-bottom: 70px;
		 padding-top: 40px;
	 	font-size: 49px;
	 	font-weight: bold;
	  @media screen and (max-width: $break-medium-desktop) {
			text-align: center;
			margin-left: 0;
	  }
	  @media screen and (max-width: $break-medium) {
	  	font-size: 2.6em;
	  	font-weight: lighter;
			padding-left: 0;
			margin-top: 0px;
	  }
	}
 
.item {
	margin-bottom: 60px;
	@media screen and (max-width: $break-medium) {
    margin-bottom: 0;
	}
 
}
.media {
	opacity: 1;
	-webkit-transform: translate(0);
	transform: translate(0);
	transition: all .8s cubic-bezier(.175,.885,.32,1.275) .1s;
	@media screen and (max-width: $break-medium) {
    margin-bottom: 60px;
	}
}

.left {
	opacity: 0;
    -webkit-transform: translate(-20vh);
    transform: translate(-20vh);
		transition: all .3s ease;
		&.active {
			opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: all .8s cubic-bezier(.175,.885,.32,1.275) .1s;
		}
}

.right {
	opacity: 0;
    -webkit-transform: translate(20vh);
    transform: translate(20vh);
		transition: all .3s ease;
		&.active {
			opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: all .8s cubic-bezier(.175,.885,.32,1.275) .1s;
		}
}
.img-skills {
	display: inline-block;
	min-width: 70px;
	img {
		max-width: 80px;
		max-height: 100px;
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-animation: img-skills 1s ease-in-out infinite alternate;
		animation: img-skills 1s ease-in-out infinite alternate;
	}
	
	@-webkit-keyframes img-skills  {
		0% {
				-webkit-transform: scale(1.0);
		}
		100% {
				-webkit-transform: scale(1.02);
		}
	}
	
	@keyframes img-skills {
		0% {
				transform: scale(1.0);
		}
		100% {
				transform: scale(1.02);
		}
	}
	}
}
.text-skills {
	display: inline-block;
	margin-left: 20px;
}


 
 
 
 
 