<section id="portfolio">
  <div class="container">
			<h1>My last work</h1>
	  <div class="row" [ngsRevealSet]="{ mobile:false }" [ngsSelector]="'.item-portfolio'" [ngsInterval]="250">
	    <div class="col-md-4 col-xs-12 item-portfolio">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/psk-portfolio2.jpeg" alt="PSK Komfort">
						<figcaption>
							<h6>Psk <span>Komfort</span></h6>
							<p>This is the website of the engineering office that I made from start to finish alone.</p>
							<p>So I was responsible for information architecture, layout, graphics, coding.</p>
							<p>It uses HTML, CSS and a few fragments are made in AngularJS.</p>
							<a href="http://psk-komfort.pl" target="_blank">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
	    <div class="col-md-4 col-xs-12 item-portfolio">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/vr-portfolio.jpg" alt="Virtuder">
						<figcaption>
							<h6><span>virtuder</span></h6>
							<p>This is an extended project where I was responsible for arranging the layout, UX, coding newsletter, implementing features such as filtering, retrieving information from API in angular js. etc</p>
							<p>The project is still under work, however, I'm not engaged with it anymore.</p>
							<a href="http://virtuder.com" target="_blank">View more</a>
						</figcaption>
					</figure>
				</div>
	    </div>
	    <div class="col-md-4 col-xs-12 item-portfolio">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/zwierzopieka-portfolio.jpg" alt="Zwierzopieka">
						<figcaption>
							<h6><span>Zwierzopieka</span></h6>
							<p>This is the website with ads, I built it from scratch.</p>
							<p>I was responsible for information architecture, layout design, UX.</p>
							<p>It's still in progress.</p>
							<a href="http://zwierzopieka.pl" target="_blank">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<h1 class="training-apps-title">Training apps</h1>
	  <div class="row" [ngsRevealSet]="{ mobile:false }" [ngsSelector]="'.item-portfolio-training'" [ngsInterval]="250">
	    <div class="col-md-4 col-xs-12 item-portfolio-training">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/client-server-app.png" alt="client-server-app">
						<figcaption>
							<h6>Client-Server <span>App</span></h6>
							<p>This is the training app when I made backend in Express.js and frontend in Angular 2.</p>
							<p>This app communicated frontend with backend. When you type proper command (from list) you can see 3 things: random quotes, weather in your localization and game between frontend and backend.</p>
							<a href="https://type-command-app.herokuapp.com/" target="_blank">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
	    <div class="col-md-4 col-xs-12 item-portfolio-training">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/trello.png" alt="trello">
						<figcaption>
							<h6><span>Trello</span></h6>
							<p>It's an app which works similiar like trello app</p>
							<p>You can add your tasks, change status to "in progress" or "done", remove your tasks.</p>
							<p>State is saved in local storage. App is made in Angular 4</p>
							<a href="https://magdapal.github.io/trelloApp/" target="_blank">View more</a>
						</figcaption>
					</figure>
				</div>
	    </div>
	    <div class="col-md-4 col-xs-12 item-portfolio-training">
				<div class="grid">
					<figure class="effect-sarah" onclick="">
					  <div class="header-project">
					  </div>
						<img src="assets/weather.png" alt="Weather-app">
						<figcaption>
							<h6><span>Weather App</span></h6>
							<p>In this app you can check weather in your current localization.</p>
							<p>You can also change degree from Celcius to Farneheit.</p>
							<a href="http://magdapal.github.io/weather-app" target="_blank">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>