<section class="introduction-area">
  <div class="bg">
  </div>
  <div class="container">
    <div class="row introduction-presentation">
      <div class="col-md-6" [class.animated]="isDesktop" [class.fadeInUp]="isActive">
        <h1>
            Hi! My name is <span>Magdalena Pal.</span>
          </h1>
          <p>
            I'm Frontend Developer.
          </p>
          <p>
            Welcome to my portfolio.
          </p>
      </div>
      <div class="col-md-6" [class.animated]="isDesktop" [class.fadeInDown]="isActive">
        <img src="assets/Responsive_Web_Design_Demo_Template.png">
      </div>
    </div>
  </div>
</section>

