<nav class="navbar navbar-inverse navbar-fixed-top">
  <a href="#" class="mobile-nav-button" [class.active]="isActive" (click)="toggleClass()">
      <span class="mobile-nav-icon">
        <span></span>
    </span>
  </a>
  <div class="nav-container">
   <ul class="nav navbar-nav navbar-center" [class.selected]="isActive">
      <li>
        <a href="#about_me"
          SimpleSmoothScroll [showHash]="true">About me
        </a>
      </li>
      <li>
        <a href="#portfolio"
          SimpleSmoothScroll [showHash]="true">Portfolio
        </a>
      </li>
      <li>
        <a href="#skills"
          SimpleSmoothScroll [showHash]="true">Skills
        </a>
      </li>
      <li>
        <a href="#contact"
          SimpleSmoothScroll [showHash]="true">Contact
        </a>
      </li>
    </ul>
  </div> 
</nav>
